*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* outline: solid 1px #f00; */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}